@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url(https://fonts.gstatic.com/s/opensanscondensed/v12/gk5FxslNkTTHtojXrkp-xBEur64QvLD-0IbiAdTUNXE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'), url(https://fonts.gstatic.com/s/opensanscondensed/v12/gk5FxslNkTTHtojXrkp-xIF8zhZCJ7x9Pr62cRgaVUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw; /*test*/
    background-color: #212121;
    color: #BABABA;
    overflow-x: hidden;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 4rem;
}

p {
    margin: 1rem 0;
}

.container {
    min-height: 90vh;
    width: 50vw;
    background-color: #212121;
    position: absolute;
    left: 0;
    padding-right: 0;
    margin-right: 0;
/*     transform: scale(1); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BABABA;
    overflow-x: hidden;
}

.blackout {
    display: none;
    background-color: rgba(0,0,0,0.9);
    height: 100vh;
    width: 100%;
}

.pop-up {
    min-height: 30vh;
    width: 40%;
    background-color: #212121;
    z-index: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poph2 {
    font-size: 1.9rem;
    font-family: 'Lato', sans-serif;
    color: #F77311;
    text-align: center;
}

.poptext {
    font-size: 1.1rem;
    color: #BABABA;
    text-align: center;
    margin: 1rem;
}

.popbutton {
    display: none;
    margin: 1rem;
    width: 8rem;
    height: 3rem;
    color: #F77311;
    border: 2px solid #F77311;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

.finalpopbuttons {
    display: flex;
}

.display {
    display: flex;
}

.nodisplay {
    display: none;
}

.endofgame {
    height: 100vh;
    width: 100%;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.endofgame h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.temp {
    opacity: 0;
}

#welcome {
/*    display: none;  delete later*/
    transition: all 800ms ease-out 300ms;
}

.welcomeC {
    color: #BABABA;
    border: none;
    position: relative;
    background-color: transparent;
    flex-direction: column;
    opacity: 1;
    transform: scale(1);
}

.welcomeheader {
    color: #BABABA;
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    position: relative;
    top: 35%;
    opacity: 0;
/*
    transition: top 800ms ease-out 500ms,
        opacity 500ms linear 300ms;
*/
    transition: top 550ms ease-out 1.3s,
        opacity 500ms linear 300ms;
}

.welc-p {
    width: 60%;
    overflow: hidden;
}

.welc-p p {
    margin: 0;
}

.briefing {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.briefing li {
    margin: 0.5rem 0;
    font-size: 1.05rem;
    line-height: 1.1;
}

.welcbox {
    max-width: 35rem;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.divider {
    width: 1%;
    height: 100%;
    background-color: #F77311;
    display: flex;
    align-items: flex-end;
}

.load {
    padding-top: 20rem;
    height: 0rem;
    width: 100%;
    background-color: #212121;
    transition: all 2s ease-out 1.65s;
}

.welcomeToPosition {
    top: 0;
    opacity: 1;
    animation: glow 1.4s;
}

@keyframes glow {
    to {
        text-shadow: 0 0 10px;
    }
}

.dividerAni {
    padding-top: 0;
}


#p1 {
    transition: all 900ms ease-out 1.5s;
}

#p2 {
    transition: all 800ms ease-out 1.7s;
    font-weight: 700;
}

#p3 {
    transition: all 700ms ease-out 1.9s;
    font-weight: 700;
}

.initialP {
    opacity: 0;
    position: relative;
    right: 22rem;
}

.iniP {
    right: 0;
    left: 14rem;
}

.animateP {
    opacity: 1;
    right: 0;
}

.animateP2 {
    opacity: 1;
    left: 0;
}

#li1 {
    transition: all 600ms ease-out 2.1s;
}

#li2 {
    transition: all 600ms ease-out 2.3s;
}

#li3 {
    transition: all 600ms ease-out 2.5s;
}

.initialLi {
    position: relative;
    left: 14rem;
    opacity: 0;
}

.animateLi {
    opacity: 1;
    left: 0;
}

.startbtn {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    margin: 1rem;
    padding: 0.5rem;
    animation: hue 10s infinite linear;
    color: lawngreen;
    background-image: linear-gradient(160deg, #f96816, #FC1B0A);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    border: 2px solid #f96816;
    transition: opacity 500ms ease-out 3s, top 500ms ease-out 3s, box-shadow 300ms ease-out 0s, font-size 100ms ease-out 0s;
    position: relative;
    top: 2rem;
    opacity: 0;
    cursor: pointer;
    box-shadow: 0 0 5px #f96816;
}

@keyframes hue {
/*
    0% {filter: hue-rotate(0deg);}
    100% {filter: hue-rotate(720deg);}
*/
}

.startbtn:hover {
    box-shadow: none;
}

.startbtn:active {
    font-size: 1.75rem;
    box-shadow: 0 0 5px #f96816;
}

.animateStartBtn {
    opacity: 1;
    top: 0;
}

.startClicked {
    opacity: 0;
    transform: scale(0);
}

#pre-level1 {
/*    display: none;  delete later */
    transition: all 700ms ease-out 1.1s;
}

.bringInPreLvl1 {
    opacity: 1;
    transform: scale(1);
/*    border: 1px solid white;*/
}

/***************************************/

.levelheader {
    text-align: center;
}

.lvl1header {
    margin-top: 3rem;
    width: auto;
}

.lvl1d {
    height: 85%;
    min-width: 0.5%;
    max-width: 0.51%;
    margin: auto 0.5rem;
    position: relative;
    flex-shrink: 0;
}

.lvlbox {
    display: flex;
    flex-direction: column;
    width: 30%;
    width: 90%;
    font-size: 1.3rem;
    height: 100%;
}

.rot13h3 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
}

.rot13h2 {
    font-family: 'Lato';
    font-size: 2.14rem;
}

.abc {
    letter-spacing: 1.076px;
}

.underline {
    background-color: #F77311;
    height: 6px;
    width: 20rem;
/*    padding-right: 24.9rem;*/
/*    padding-right: 103%;*/
}

.usertext {
    font-size: 1rem;
    background-color: #BABABA;
    box-shadow: 0 0 5px #BABABA;
    width: 50%;
    resize: none;
}

.submitbtn {
    margin: 1rem 0;
    display: block;
    width: 8rem;
    height: 2rem;
    color: #F77311;
    border: 2px solid #F77311;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
}

.stuck {
    margin-bottom: 1rem;
}

.pos {
    height: 85%;
    justify-content: center;
}

.u2 {
    margin-bottom: 1rem;
    position: relative;
    right: 3%;
}

.rot13forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.msg {
    color: #F77311;
    font-weight: bold;
}

/**********************************/

/*
#level2 {
    display: none;  delete later  
}
*/
.lvl2box {
    flex-direction: column;
    font-size: 1.3rem;
    text-align: center;
}

.timebox {
    font-size: 1.3rem;
    width: 2rem;
    background-color: #BABABA;
    box-shadow: 0 0 5px #BABABA;
    
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.lvl2forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timeunit {
    margin: 0 0.5rem;
}

.timeboxlarge {
    font-size: 1.3rem;
    background-color: #BABABA;
    box-shadow: 0 0 5px #BABABA;
}

.lvl2headcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lvl2undercon {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;
}

.lvl2underline {
    width: 6px;
    height: 6px;
    background-color: #F77311;
}

.lvl2underleft {
/*    padding-right: 50%;*/
    width: 100%;
}

.lvl2underright {
    padding-left: 50%;
}

.numberdisplay {
    font-size: 1.7rem;
    color: #F77311;
    font-weight: bold;
    text-align: center;
}

/*****************************/

/*
#level3 {
    display: none;  delete later 
}
*/

.lvl3header {
    text-align: right;
}

.lvl3title {
    width: 29%;
}

#lvl3game {
/*    width: 49%;*/
}

#lvl3game p {
    margin-top: 0;
}

.lvl3firstpara {
    margin-top: 0;
}

.pwdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lvl3password {
    margin-left: 1rem;
}

.lvl3forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pwbox {
    font-size: 1.3rem;
    background-color: #BABABA;
    box-shadow: 0 0 5px #BABABA;
}

.fibbox {
    font-size: 1.3rem;
    background-color: #BABABA;
    box-shadow: 0 0 5px #BABABA;
}

.lvl3underline {
    width: 23rem;
}

.lvl3btn {
/*    display: inline;*/
}


@media screen and (max-width: 770px) {
    .pop-up {
        width: 90%;
    }
}
